body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://wallpapers.com/images/featured-full/hogwarts-aesthetic-background-gcztte8rnc68ag2o.jpg');
    background-size: cover;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #252627;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #8e7474;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-section {
    margin-bottom: 20px;
}

.results-section h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-item {
    flex: 1;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.result-item strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links-section {
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-list {
    flex: 1;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.link-list h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.link-list ul {
    padding-left: 20px;
}

.link-list li {
    list-style: disc;
    margin: 5px 0;
}

.upload-section {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: #8e7474;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.upload-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upload-section input[type="file"] {
    margin-bottom: 10px;
}
